/* GENERAL */
[class$='__container'] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$='__heading'] {
  text-align: center;
  margin-bottom: 5rem;
}

.degradate {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary-darken) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.uppercase {
  text-transform: uppercase;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__link {
  color: var(--color-primary);
  transition: all 0.2s ease;
}

.navigation__link:hover {
  color: var(--color-primary-darken);
}

.navigation__link--white {
  color: var(--color-white);
}

.navigation__link--white:hover {
  color: var(--color-white-lighten);
}

.list__element {
  background-color: var(--color-white);
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 0.14);
  padding: 1rem 2rem;
  margin-bottom: 5rem;
  transition: all 0.2s ease;
}

.list__element:hover {
  transform: scale(1.05);
}

.list__heading {
  font-size: 3rem;
  color: var(--color-primary);
  margin: 0;
}

.list__percentage {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.list__text {
  margin: 0;
  font-size: 2rem;
}

/* media queries */
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
  .navigation__link {
    color: var(--color-white);
  }
  .navigation__link:hover {
    color: var(--color-white-lighten);
  }
  .list__element:last-of-type {
    margin-bottom: 0;
  }
  .list__element--two-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .list__percentage {
    flex-basis: 20rem;
    text-align: right;
    font-size: 4rem;
  }
}
