:root {
  --color-primary: #6834a6;
  --color-primary-darken: #5a30a0;
  --color-white: #ffffff;
  --color-white-lighten: #dddddd;
  --color-black: #000000;
  --ff-poppins: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-poppins);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
