/* FOOTER */
.footer {
  background-color: var(--color-primary-darken);
  padding: 3rem 0;
}

.footer__logo {
  width: 20rem;
  margin: 0 auto 4rem auto;
}

/* media queries */
@media (min-width: 768px) {
  .footer__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo {
    margin: 0;
  }
}
