/* NUCLEUS */
.nucleus {
  margin-top: 3rem;
}

.nucleus__grid {
  display: flex;
  flex-direction: column-reverse;
}

/* media queries */
@media (min-width: 768px) {
  .nucleus__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem;
    align-items: center;
  }
}
